body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('./assets/site/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-family: "Amatic SC", cursive;
    color: #e93e21;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 20px solid #e93e21;

}

header p {
    color: white;
    font-weight: bold;
    text-align: center;
}

nav {
    background-color: #333;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    transition: all 0.4s;
}

ul li a:hover {
    color: #e93e21;
}

section {
    background-color: aqua;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('./assets/site/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h3 {
    font-family: "Amatic SC", cursive;
    color: white;
    font-size: 70px;
}
.conteudo_secao {
    height: 800px;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    flex-wrap: wrap;
}

.titulo_secao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.conteudo_secao .card {
    width: 40%;
    margin: 40px;
    align-self: flex-start;
}

.conteudo_secao .card img {
    width: 120px;
    height: 100px;
    border: 3px solid white;
    border-radius: 8px;
}

.conteudo_secao .card .titulo_e_preco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    font-family: "Amatic SC", cursive;
    margin-top: 0;
    border-bottom: 1px dashed #909090;
}

.conteudo_secao .card .titulo_e_preco spam {
    color: #e93e21;
    margin: 0;
}

.conteudo_secao .card .titulo_e_preco h5 {
    color: white;
    margin: 0;
}

.conteudo_secao .card button, p {
    font-family: "Open Sans", sans-serif;
}

.conteudo_secao .card button {
    margin-left: 80%;
    width: 90px;
    height: 30px;
    background-color: #e93e21;
    border: none;
    border-radius: 3px;
}

.menu_icon {
    width: 40px;
    height: 40px;
    display: none;
}

@keyframes abrir_menu {
    0%{ 
        height: 0px;
    }100% {
        height: 400px;
    }
}

@media only screen and (max-width: 850px){
    header {
        background-position: center;
    }

    .logo_marca {
        width: 150px;
        height: 150px;
    }

    ul  {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 0px;
        
    }

    ul li {
        display: none;
    }

    .menu_icon {
        display: flex;
    }

    nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    
    
}